body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    padding: 20px 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-logo {
    font-size: 18pt;
    font-weight: bold;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-nav a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 15pt;
    color: white;
}

.first-section {
    background-color: #1F2937;
    color: white;
    padding: 100px 220px;
    display: flex;
    justify-content: space-between;
}

.first-section-content {
    width: 50%;
    margin-right: 10px;
}

.first-section-content h1 {
    font-size: 38pt;
    margin: 0;
}

.first-section-content p {
    font-size: 16.5pt;
    margin: 0;
    color: rgb(134, 126, 142);
}

.first-section-content button {
    margin-top: 20px;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 14pt;
}

.first-section-image {
    width: 50%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 126, 142);
}

.second-section {
    background-color: white;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 50px;
}

.second-section h2 {
    font-size: 30pt;
    margin-bottom: 40px;
}

.second-section-cards {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second-section-cards div {
    padding: 75px;
    border: 5px solid #3882F6;
    border-radius: 15px;
    margin: 0px 10px;
}

.second-section-cards p {
    text-wrap: wrap;
    width: 20%;
}

.third-section {
    background-color: #E5E7EB;
    padding: 100px 350px;
}

.third-section-quote {
    font-style: italic;
    font-size: 26pt;
}

.third-section-author {
    font-size: 19pt;
    text-align: right;
}

.fourth-section {
    background-color: white;
    padding: 100px 200px;
}

.fourth-section-container {
    background-color: #3882F6;
    color: white;
    padding: 0px 120px;
    border-radius: 12px;
    display: flex;
}

.fourth-section-text {
    width: 77%;
}

.fourth-section-text #big {
    font-weight: bold;
    font-size: 18pt;
    margin-top: 45px;
    margin-bottom: 0px;
}

.fourth-section-text  #small {
    font-size: 15pt;
    margin: 0;
}

.fourth-section-container button {
    margin: 50px 30px;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 14pt;
}